<hr>
<form (ngSubmit)="login()" #frmLogin="ngForm">
  <p class="form-group">
    <label>Username</label>
    <input #txtUsername name="username" required="true" [(ngModel)]="username" class="form-control" placeholder="Enter your username here" type="text" minlength="2">
  </p>
  <p class="form-group">
    <label>Password</label>
    <input name="password" required="true" [(ngModel)]="password" class="form-control" placeholder="Enter your password here" type="password" minlength="2">
  </p>
  <p class="form-group" id="button-wrapper">
    <button class="btn btn-primary">Login</button>
  </p>
</form>
